In [424]:
import pandas as pd
import yahoo_fin.stock_info as yf
from sqlalchemy import create_engine, func
from config import db_password

In [305]:
df2 = pd.read_csv('data/employee_data/snp_500_companies_employees.csv', thousands = ",", encoding='windows-1252')

In [306]:
tickers = df2["Ticker"]

In [307]:
def transform_df(ticker):
    
    #Read in income_statement
    
    df = pd.read_csv(f'data/income_statements/{ticker}_income_statement.csv')
    
    # Rename columns and get rid of necessary rows

    df.columns = ["Breakdown", "2021", "2020", "2019", "2018"]
    
    df = df.drop([2, 5, 7, 10, 14,17,18,20,21, 0, 1, 3, 11, 12, 13, 9, 19])
    
    # Transpose Dataframe
    
    df = df.transpose()
    
    # Clean transposed dataframe

    df = df.drop(['Breakdown'])

    df.columns = ["netIncome", "grossProfit", "operatingIncome", "totalRevenue", "totalOperatingExpenses"]

    df.index.name = "Year"

    df["Ticker"] = f"{ticker}"
    
    df.reset_index(level = 0, inplace = True)
    
    # Merge dataframe with employee data dataframe

    df_merged = df.merge(df2, on = "Ticker", how = "left")

    df_merged = df_merged[["Year", "Ticker", "Company", "Sector", "numEmployees", "netIncome", "grossProfit", "operatingIncome", "totalRevenue", "totalOperatingExpenses"]]

    # Calculate employee numbers for different years, 10% increase year over year
    
    twenty_one_emp_no = df_merged["numEmployees"][0]

    twenty_emp_no = twenty_one_emp_no - (twenty_one_emp_no*.1)

    nineteen_emp_no = twenty_emp_no - (twenty_emp_no*.1)

    eighteen_emp_no = nineteen_emp_no - (nineteen_emp_no*.1)

    # Set numEmployees columns to different employee number variables based on year column

    df_merged.loc[(df_merged.Year == "2018"), 'numEmployees'] = eighteen_emp_no

    df_merged.loc[(df_merged.Year == "2019"), 'numEmployees'] = nineteen_emp_no

    df_merged.loc[(df_merged.Year == "2020"), 'numEmployees'] = twenty_emp_no

    # Convert necessary columns to numbers
    
    df_merged["netIncome"] = pd.to_numeric(df_merged.netIncome)

    df_merged["grossProfit"] = pd.to_numeric(df_merged.grossProfit)

    df_merged["operatingIncome"] = pd.to_numeric(df_merged.operatingIncome)

    df_merged["totalRevenue"] = pd.to_numeric(df_merged.totalRevenue)

    df_merged["totalOperatingExpenses"] = pd.to_numeric(df_merged.totalOperatingExpenses)

    df_merged["Year"] = pd.to_numeric(df_merged.Year)
    
    # Create and populate columns for financial values per employee
    
    x = (df_merged["netIncome"]/df_merged["numEmployees"])

    y = (df_merged["grossProfit"]/df_merged["numEmployees"])

    z = (df_merged["operatingIncome"]/df_merged["numEmployees"])

    a = (df_merged["totalRevenue"]/df_merged["numEmployees"])

    b = (df_merged["totalOperatingExpenses"]/df_merged["numEmployees"])
    
    df_merged["netIncome_per_emp"] = x

    df_merged["grossProfit_per_emp"] = y

    df_merged["operatingIncome_per_emp"] = z

    df_merged["totalRevenue_per_emp"] = a

    df_merged["totalOperatingExpenses_per_emp"] = b
    
    # Reorder columns

    df_merged = df_merged[["Year", "Ticker", "Company", "Sector", "numEmployees", "netIncome", "netIncome_per_emp", "grossProfit", "grossProfit_per_emp", "operatingIncome", "operatingIncome_per_emp", "totalRevenue", "totalRevenue_per_emp", "totalOperatingExpenses", "totalOperatingExpenses_per_emp"]]
    
    return df_merged

In [308]:
# Create merged dataframes for each ticker

for ticker in tickers:
    
    try:

        df = transform_df(ticker)
    
        df.to_csv(f'data/merged/{ticker}_merged_df.csv')
    
    except:
        
        print(f"Could not get df for {ticker}")
        
        x = tickers[tickers == f'{ticker}'].index[0]

        tickers = tickers.drop([x])

Could not get df for BRK.B
Could not get df for GPC
Could not get df for WLTW
Could not get df for PWR
Could not get df for CERN
Could not get df for VIAC
Could not get df for BLL
Could not get df for INFO
Could not get df for FDS
Could not get df for DISCA
Could not get df for DISCK
Could not get df for PBCT
Could not get df for XLNX
Could not get df for BF.B
Could not get df for UDR

In [415]:
# Adding dataframes into a dataframe dictionary

d = {ticker: pd.read_csv(f'data/merged/{ticker}_merged_df.csv', thousands = ",") for ticker in tickers}

In [416]:
# Set initial Dataframe

df3 = d["WMT"]

# Cycle through dataframes in dataframe dictionary

for df in d:
    
    # Merge all dataframes together
    
    df3 = df3.merge(d[df], how = "outer")

C:\Users\trica\anaconda3\envs\PythonData\lib\site-packages\pandas\core\reshape\merge.py:1218: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,
C:\Users\trica\anaconda3\envs\PythonData\lib\site-packages\pandas\core\reshape\merge.py:1208: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

,Unnamed: 0,Year,Ticker,Company,Sector,numEmployees,netIncome,netIncome_per_emp,grossProfit,grossProfit_per_emp,operatingIncome,operatingIncome_per_emp,totalRevenue,totalRevenue_per_emp,totalOperatingExpenses,totalOperatingExpenses_per_emp
0,0,2021,WMT,Walmart Inc.,Retail Trade,2300000.000,1.367300e+10,5.944783e+03,1.437540e+11,6.250174e+04,2.594200e+10,1.127913e+04,5.727540e+11,2.490235e+05,5.468120e+11,2.377443e+05
1,1,2020,WMT,Walmart Inc.,Retail Trade,2070000.000,1.351000e+10,6.526570e+03,1.388360e+11,6.707053e+04,2.694800e+10,1.301836e+04,5.591510e+11,2.701213e+05,5.322030e+11,2.571029e+05
2,2,2019,WMT,Walmart Inc.,Retail Trade,1863000.000,1.488100e+10,7.987654e+03,1.293590e+11,6.943586e+04,2.146800e+10,1.152335e+04,5.239640e+11,2.812475e+05,5.024960e+11,2.697241e+05
3,3,2018,WMT,Walmart Inc.,Retail Trade,1676700.000,6.670000e+09,3.978052e+03,1.291040e+11,7.699887e+04,2.195700e+10,1.309537e+04,5.144050e+11,3.067961e+05,4.924480e+11,2.937007e+05
4,0,2021,AMZN,"Amazon.com, Inc.",Retail Trade,1298000.000,3.336400e+10,2.570416e+04,1.974780e+11,1.521402e+05,2.487900e+10,1.916718e+04,4.698220e+11,3.619584e+05,4.449430e+11,3.427912e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,3,2018,HST,Host Hotels,Finance,118.827,1.087000e+09,9.147753e+06,1.601000e+09,1.347337e+07,8.130000e+08,6.841879e+06,5.554000e+09,4.674022e+07,4.741000e+09,3.989834e+07
1928,0,2021,PNW,Pinnacle West Capital Corporation,Utilities,88.000,6.187200e+08,7.030909e+06,1.697217e+09,1.928656e+07,9.178510e+08,1.043012e+07,3.803835e+09,4.322540e+07,2.885984e+09,3.279527e+07
1929,1,2020,PNW,Pinnacle West Capital Corporation,Utilities,79.200,5.505590e+08,6.951503e+06,1.634653e+09,2.063956e+07,8.444930e+08,1.066279e+07,3.586982e+09,4.529018e+07,2.742489e+09,3.462739e+07
1930,2,2019,PNW,Pinnacle West Capital Corporation,Utilities,71.280,5.383200e+08,7.552189e+06,1.487356e+09,2.086639e+07,6.949490e+08,9.749565e+06,3.471209e+09,4.869822e+07,2.776260e+09,3.894865e+07
1931,3,2018,PNW,Pinnacle West Capital Corporation,Utilities,64.152,5.110470e+08,7.966190e+06,1.578387e+09,2.460386e+07,8.234780e+08,1.283636e+07,3.691247e+09,5.753908e+07,2.867769e+09,4.470272e+07

In [417]:
# Drop Unnamed column

df3 = df3.drop(columns = ["Unnamed: 0"])

# Round numEmployees column to nearest whole number

df3["numEmployees"] = df3["numEmployees"].round()

In [420]:
# Create mostly remote column

df3['mostly_remote'] = 0

In [421]:
# Set values of remote work based on year and sector

df3.loc[(df3.Year == 2020) & ((df3.Sector == 'Finance') | (df3.Sector == 'Technology Services') | (df3.Sector == 'Communications')| (df3.Sector == 'Electronic Technology')| (df3.Sector == 'Consumer Durables')| (df3.Sector == 'Health Technology') | (df3.Sector == 'Process Industries')| (df3.Sector == 'Retail Trade')), 'mostly_remote'] = 1

df3.loc[(df3.Year == 2021) & ((df3.Sector == 'Technology Services') | (df3.Sector == 'Communications')| (df3.Sector == 'Electronic Technology')| (df3.Sector == 'Consumer Durables')| (df3.Sector == 'Health Technology')), 'mostly_remote'] = 1

df3

,Year,Ticker,Company,Sector,numEmployees,netIncome,netIncome_per_emp,grossProfit,grossProfit_per_emp,operatingIncome,operatingIncome_per_emp,totalRevenue,totalRevenue_per_emp,totalOperatingExpenses,totalOperatingExpenses_per_emp,mostly_remote
0,2021,WMT,Walmart Inc.,Retail Trade,2300000.0,1.367300e+10,5.944783e+03,1.437540e+11,6.250174e+04,2.594200e+10,1.127913e+04,5.727540e+11,2.490235e+05,5.468120e+11,2.377443e+05,0
1,2020,WMT,Walmart Inc.,Retail Trade,2070000.0,1.351000e+10,6.526570e+03,1.388360e+11,6.707053e+04,2.694800e+10,1.301836e+04,5.591510e+11,2.701213e+05,5.322030e+11,2.571029e+05,1
2,2019,WMT,Walmart Inc.,Retail Trade,1863000.0,1.488100e+10,7.987654e+03,1.293590e+11,6.943586e+04,2.146800e+10,1.152335e+04,5.239640e+11,2.812475e+05,5.024960e+11,2.697241e+05,0
3,2018,WMT,Walmart Inc.,Retail Trade,1676700.0,6.670000e+09,3.978052e+03,1.291040e+11,7.699887e+04,2.195700e+10,1.309537e+04,5.144050e+11,3.067961e+05,4.924480e+11,2.937007e+05,0
4,2021,AMZN,"Amazon.com, Inc.",Retail Trade,1298000.0,3.336400e+10,2.570416e+04,1.974780e+11,1.521402e+05,2.487900e+10,1.916718e+04,4.698220e+11,3.619584e+05,4.449430e+11,3.427912e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,2018,HST,Host Hotels,Finance,119.0,1.087000e+09,9.147753e+06,1.601000e+09,1.347337e+07,8.130000e+08,6.841879e+06,5.554000e+09,4.674022e+07,4.741000e+09,3.989834e+07,0
1928,2021,PNW,Pinnacle West Capital Corporation,Utilities,88.0,6.187200e+08,7.030909e+06,1.697217e+09,1.928656e+07,9.178510e+08,1.043012e+07,3.803835e+09,4.322540e+07,2.885984e+09,3.279527e+07,0
1929,2020,PNW,Pinnacle West Capital Corporation,Utilities,79.0,5.505590e+08,6.951503e+06,1.634653e+09,2.063956e+07,8.444930e+08,1.066279e+07,3.586982e+09,4.529018e+07,2.742489e+09,3.462739e+07,0
1930,2019,PNW,Pinnacle West Capital Corporation,Utilities,71.0,5.383200e+08,7.552189e+06,1.487356e+09,2.086639e+07,6.949490e+08,9.749565e+06,3.471209e+09,4.869822e+07,2.776260e+09,3.894865e+07,0
1931,2018,PNW,Pinnacle West Capital Corporation,Utilities,64.0,5.110470e+08,7.966190e+06,1.578387e+09,2.460386e+07,8.234780e+08,1.283636e+07,3.691247e+09,5.753908e+07,2.867769e+09,4.470272e+07,0

In [425]:
# Send dataframe to pg


db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/group_project"

engine = create_engine(db_string)

df3.to_sql(name='final_database', con=engine)

In [428]:
# create csv

df3.to_csv('data/final_database.csv')